/* css page */

body{

    /* Photo by Joanna Kosinska on Unsplash */
background-image:url(imgs/bkgd_ylw.png);

}

div.logo{
    /* background-color: aqua; */
    /* margin-top:20px; */
}


div.logo img{
display: block;
max-width: 8%;
margin-left: auto;
margin-right: auto;

}

