/* css page */

body{

    /* Photo by Joanna Kosinska on Unsplash */
background-image:url(imgs/bkgd_ylw.png);

}

div.logo{
    /* background-color: aqua; */
    /* margin-top:20px; */
}


div.logo img{
display: block;
max-width: 8%;
margin-left: auto;
margin-right: auto;

}

div.over{
    
    color: #eeaf03;
    font-size: 80px;
    font-family: Helvetica;
    text-align: center;
    z-index: 2;
    margin-left: 540px;

    
   
   
    position:absolute;
    

}


div.under{
    color:#101010;
    font-size: 80px;
    font-family: Helvetica;
    text-align: center;
    z-index: 1;
    
     position:absolute;
     margin-left: 530px;
     margin-top:-5px;
    

    
    }

    /* p{
        font-family: Helvetica;
        font-size: 20px;
        color:#fdf2d3;
        text-align: center;
        margin-top:300px;
        
    } */
